node_modules
project/project
project/target
target
out
.idea
tmp
.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.DS_Store
Thumbs.db
app/models/generated
public/media
conf/local.conf
*.sc
*.orig
